<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.Board">

    <insert id="create" parameterType="com.example.src.model.BoardVO">
        INSERT INTO BOARD(id, title, content, writer)
        values(BOARD_SEQ.NEXTVAL, #{title}, #{content}, #{writer})
    </insert>

    <select id="findAll" resultType="com.example.src.model.BoardVO">
        select *
        from BOARD
        where id > 0
        order by id desc, createdAt desc
    </select>

    <select id="read" resultType="com.example.src.model.BoardVO">
        select id, title, content, writer, viewcnt, createdAt
        from Board
        where id = #{id}
    </select>

    <update id="update" parameterType="com.example.src.model.BoardVO">
        UPDATE Board
        SET title   = #{title},
            content = #{content}
        where id = #{id}
    </update>

    <delete id="delete">
        delete
        from Board
        where id = #{id}
    </delete>


</mapper>
